<h1 style="font-family: sans-serif" ><%= @track.name %> </h1>
<h2 style="font-family: sans-serif" >- <%= link_to @track.album.name, album_url(@track.album) %> (<%= link_to @track.band.name, band_url(@track.band) %>) </h2>
<br>
<% if @track.featured == "BONUS" %>
  Bonus track
<%end%><br>

<% if @track.lyrics %>
  <% @track.lyric_lines.each do |line| %>
    <%= line %><br>
  <% end %>
<% end %>

<% if @track.notes %>
  <% @track.notes.all.each do |note| %>
    <%= User.find(note.user_id).email%><br>
    <%= note.body %>
  <%end%>
<%end%>

<%= link_to "Back to #{@track.album.name}", album_url(@track.album) %>
<br>
<%= link_to "More #{@track.band.name}", band_url(@track.band) %>
<br>


<%= link_to "Edit #{@track.name}", edit_track_url %><br>

<%= button_to "Delete track", track_url(@track), method: :delete %>