  <input name="authenticity_token" type="hidden">
  
  <label for="album_name">Album name:</label><br>
  <input type="text" name="album[name]" id="album_name" value="<%= @album.name if @album.name %> "></input><br><br>
  
  
  <label for="band">Select band:</label><br>
  <select name="album[band_id]" id="band">
    <% Band.all.each do |band| %>
      <option value="<%= band.id %>"<%= @album.band == band ? "selected" : "" %>>
        <%= band.name %>
      </option>
    <% end %>
  </select><br><br>
  
  
  Type of record:<br>
  <input type="radio" name="album[audio]" id="album_audio_studio" value="STUDIO"<%= "checked" if @album.audio == "STUDIO" %>>
  <label for="album_audio_studio">Studio</label><br>
  <input type="radio" name="album[audio]" id="album_audio_live" value="LIVE"<%= "checked" if @album.audio == "LIVE" %>>
  <label for="album_audio_live">Live</label><br><br>
    


  
  