<h1>all albums</h1>

<% @albums.each do |album| %>
  <%= album.id %>. <b><%= album.name %></b>  - <%= album.band.name %> <br>
  Tracks:<br>
  <select name="band[album]" id="album">
    <% album.tracks.each do |track| %>
      <option value='<%=track.id %>'> 
          <%= track.name %>
      </option>
    <%end%>
  <br><br>
<%end%>


