<h1 style="font-family: sans-serif" ><%= "#{@album.name}" %> </h1>
<h2 style="font-family: sans-serif" >by <%= @album.band.name %> </h1>

<ul>
<% @album.tracks.each do |track| %>
  <li><%= track.name %></li>
<% end %>
<ul>

<%= link_to "All Albums", albums_url %><br>
<%= link_to "All Tracks", tracks_url %>
<br>

<%= link_to "Add a Track", new_album_track_url(@album) %>
<br>